<div class="container">
	<div class="row-fluid">
		<div class="span10 offset2">
			<%= render "partials/manageheader" %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span2">
			<%= render "partials/managesidebar" %>
		</div>

		<div class="span10">
			<%= render "partials/managecontent" %>
		</div>

	</div>

</div>