<%- title "Your Account | LandSpec Pro" %>
<%= render 'layouts/sidebar' %>		
	<div class="row">
		
		<div class="col-lg-4 col-lg-offset-1 col-xs-12">
			<%= render 'layouts/accountinfo' %>
		</div>

	</div>
<%= render 'layouts/sidebarend' %>