<%- title "Add Your Company | LandSpec Pro" %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <div class="login-container">

  <br/><br/><br/>

  <div class="row-fluid">
    <div class="position-relative">

      <div class="visible widget-box">
        <div class="widget-header header-color-green2">
          <h4 class="center">Add a Business</h4>
        </div>

        <div class="widget-body">
          <div class="widget-main" id="login-widget-main">

            <%= form_for([@user, @busbuyer]) do |f| %>

                <% if @no_company %>
                  <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error!</strong> You must add a company first!
                  </div>
                <% end %>

                <% @busbuyer.errors.each do |field, msg| %>
                  <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error! </strong> <%= msg %>
                  </div>
                <% end %>

                <fieldset>
                  <!--[if lt IE 10]>Business Name:<![endif]-->
                  <span class="block input-icon input-icon-right">
                    <%= f.text_field :busName, :class => 'span12', :placeholder => "Business Name" %>
                    <i class="icon-briefcase"></i>
                  </span>

                  <!--[if lt IE 10]>Phone Number:<![endif]-->
                  <span class="block input-icon input-icon-right">
                    <%= f.text_field :busPhone, :class => 'span12 input-mask-phone popover-phone', :placeholder => "Phone Number" %>
                    <i class="icon-phone"></i>
                  </span>

                  <div class="row-fluid">
                  <div class="pull-right">
                    <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Submit</button>
                  </div>
                </div>

                </fieldset>


            <% end %>

          </div> <!-- widget-main -->
        </div> <!-- widget-body -->
      </div> <!-- widget-box -->

    </div> <!-- position-relative -->
  </div> <!-- row-fluid -->
      </div> <!-- login-container -->
    </div> <!-- span12 -->
  </div> <!-- row-fluid -->
</div> <!-- container-fluid -->

<script type="text/javascript">
  $(applyMasks());
  $(applyPopovers());
</script>