<ul class="ace-thumbnails">
	<li>
		<span>
			<%= image_tag @location.bus_vendor.logo.url(:medium), :width => '300px', :height => '300px', :title => 'Logo', :class => 'editable', :id => 'avatar' %>

			<div class="text">
				<div class="inner">
					<a href="<%= @location.bus_vendor.logo.url(:original) %>" data-rel="colorbox" title="Company Logo">
						<i class="icon-zoom-in"></i><br/>
						<span style="font-size: 13px;">View Full Size</span>
					</a>
				</div>
			</div>

		</span>
	</li>
</ul>

