<span class="profile-picture">
	<ul class="ace-thumbnails">
		<li>
			<span>
				<% if @locsettings.show_company_logo %>
					<%= image_tag @location.bus_vendor.logo.url(:medium), :width => '300px', :height => '300px', :title => 'Logo', :id => 'avatar' %>
				<% else %>
					<img src="/images/default/logos_large.png" width='300px' height='300px' title='Logo' id='avatar'/>
				<% end %>
			</span>
		</li>
	</ul>
</span>