<div class="center">
	<div class="alert alert-error">
		<h2>No Results found!</h2>
		<p>Try changing your search criteria and searching again.</p>
		<p>If you think there should have been results and you're not seeing any, shoot us an email describing what went wrong at <a href="mailto:tech@landspecpro.com">tech@landspecpro.com</a></p>
	</div>
</div>