<div class="block input-icon input-icon-right">
	<select id="query" name="query" class="chzn-select input-large form-control" data-placeholder="Leave blank to search all suppliers...">
		<option selected="selected">All Featured Items</option>

		<% FeaturedItem.where(:active => true).select('"commonName"').uniq.select(:location_id).order('"commonName" ASC').each do |fi| %>
			<% if fi.is_visible %>
				<% if params[:query] == fi.commonName %>
					<option selected="selected"><%= fi.commonName %></option>
				<% else %>
					<option><%= fi.commonName %></option>
				<% end %>
			<% end %>
		<% end %>
	</select>

</div>