<div class="widget-box">

	<div class="widget-header header-color-green2">
		<h5 class="lighter">Search Bar</h5>
	</div>

	<div class="widget-body">
		<div class="widget-main">

			<%= form_tag @path, :method => 'post' do %>

				<%= hidden_field_tag :search_type, controller.action_name %>

				<!-- Search Box 
						- Need to change to CHZN dropdown and set up with another render so that a different box is rendered
						  depending on if this is the supplier or product search.
				-->

				<div class="row-fluid">
					<div class="span8">
						<input id='query' name='query' type="text" class="input search-query span12" placeholder="Enter search query here..."/>
					</div>
					<div class="span4">
						<%= submit_tag "Search", :class => "btn btn-success btn-small btn-block" %>
					</div>
				</div>

			<% end %>

		</div>
	</div>

</div>

