
// Navbar color

.navbar-inverse .navbar-inner{
	background:#2e8965;
}

#brand-image{
	max-height: 32px;
	margin-top: -8px;
	margin-bottom: -4px;
	padding-right: 5px;
}

#login-widget-main{
	padding-left:25px;
	padding-right:25px;
}

#white-link{
	padding:2px;
	padding-left:8px;
	padding-right:8px;
}
#white-link:hover{
	padding:2px;
	padding-left:8px;
	padding-right:8px;
	background-color: lighten(#307ecc, 10%);
}