
// Navbar color

.navbar-inverse .navbar-inner{
	background:#2e893f;
	padding-top:5px;
	padding-bottom:5px;
}

#brand-image{
	max-height: 32px;
	margin-top: -8px;
	margin-bottom: -4px;
	padding-right: 5px;
}

#login-widget-main{
	padding-left:25px;
	padding-right:25px;
}

#white-link{
	padding:2px;
	padding-left:8px;
	padding-right:8px;
}
#white-link:hover{
	padding:2px;
	padding-left:8px;
	padding-right:8px;
	background-color: lighten(#307ecc, 10%);
}

.green{
	background-color: #22b14c;
}
.header-color-green{
	//background: #22b14c;
}


#container {
   min-height:100%;
   position:relative;
}
#footer {
   bottom:0;
   width:100%;
   height:auto;   /* Height of the footer */
}


/* FEEDBACK BUTTON IN FOOTER */
#feedbackFooter{
	visibility: visible;
}

@media (max-width: 767px) {
	#feedbackFooter{
		visibility:hidden;
	}
}


/* GREENS */
.btn-success{
	background-color:#2e893f!important;
	border-color:#2e893f;
}

.header-color-green2{
	background-color:#2e893f!important;
	border-color:#2e893f;
}

.green{
	color:#2e893f!important;
}

.ace-nav>li.green{
	background:#2e893f;
}

.badge-success,
.label-success{
	background-color:#2e893f!important;
	border-color:#2e893f!important;
}


fieldset{
	color:#000;
}

textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"]{
	color: #202020;
}