
// Navbar color

.navbar-inverse .navbar-inner{
	background:#2e893f;
}

#brand-image{
	max-height: 32px;
	margin-top: -8px;
	margin-bottom: -4px;
	padding-right: 5px;
}

#login-widget-main{
	padding-left:25px;
	padding-right:25px;
}

#white-link{
	padding:2px;
	padding-left:8px;
	padding-right:8px;
}
#white-link:hover{
	padding:2px;
	padding-left:8px;
	padding-right:8px;
	background-color: lighten(#307ecc, 10%);
}

.green{
	background-color: #22b14c;
}
.header-color-green{
	//background: #22b14c;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#footer {
   bottom:0;
   width:100%;
   height:auto;   /* Height of the footer */
}




.font-marmelad-black{
  font-family: 'Mermelad', serif; color: #000;
}
.font-marmelad-white{
  font-family: 'Marmelad', serif; color: #fff;
}
.font-roboto-black{
  font-family: 'Roboto Slab', serif; color: #000;
}
.font-roboto-white{
  font-family: 'Roboto Slab', serif; color: #fff;
}
.font-cutive-black{
  font-family: 'Cutive', serif; color: #000;
}
.font-cutive-white{
  font-family: 'Cutive', serif; color: #fff;
}

.header-font-white{
	@extend .font-cutive-white;
}