<%= render 'layouts/sidebar' %>

<div class="container">

	<div class="center">
		<h1 style="font-size:40px;"><strong>Supplier Help</strong></h1>
	</div>

	<hr>

	<div class="row-fluid">

		<div class="span8">

			<h2><strong>Contents</strong></h2>

			<ul>
				<li><a href="#overview">Overview</a></li>
				<li><a href="#companyInformation">Company Information</a></li>
				<li><a href="#managingLocations">Managing Locations</a></li>
				<li><a href="#featuredItems">Featured Items</a></li>
				<li><a href="#search">Search</a></li>
				<li><a href="#favorites">Favorites</a></li>
				<li><a href="#feedback">Feedback</a></li>
			</ul>

			<hr>

			<h3 id="overview"><strong>Overview</strong></h3>

			<p></p>

			<hr>

			<h3 id="companyInformation"><strong>Company Information</strong></h3>

			<p></p>

			<hr>

			<h3 id="managingLocations"><strong>Managing Locations</strong></h3>

			<p></p>

			<hr>

			<h3 id="featuredItems"><strong>Featured Items</strong></h3>

			<p></p>
			
			<hr>
			
			<h3 id="search"><strong>Search</strong></h3>

			<p></p>

			<hr>

			<h3 id="favorites"><strong>Favorites</strong></h3>

			<p></p>

			<hr>

			<h3 id="feedback"><strong>Feedback</strong></h3>

			<p></p>

			<hr>

			<a href="#top" class="pull-right">Back to Top</a>
		</div>

		<div class="span4">
				<h2><strong class="pull-right">Helpful Links</strong></h2><br/><br/>
				<a href="#" class="pull-right">Update your account information</a><br/>
				<a href="#" class="pull-right">Update location information</a><br/>
				<a href="#" class="pull-right">Add a company logo</a><br/>
				<a href="#" class="pull-right">Add Featured Items</a><br/>
				<a href="#" class="pull-right">Send us Feedback</a><br/>
		</div>

	</div>
</div>

<%= render 'layouts/sidebarend' %>