<%= render 'layouts/sidebar' %>
	<div class="row-fluid">

		<div class="span4 offset1">
			<%= render 'layouts/accountinfo' %>
		</div>

		<% if params[:password_update_success] %>
			<div class="span6">
				<div class="center">
					<div class="alert alert-success">
						<h3><strong>Success!</strong> Your password has been updated!</h3>
					</div>
				</div>
			</div>
		<% end %>

		<% if params[:success] %>
			<div class="span6">
				<div class="center">
					<div class="alert alert-success">
						<h3><strong>Success!</strong> User information has been saved.</h3>
					</div>
				</div>
			</div>
		<% end %>
		
	</div>
<%= render 'layouts/sidebarend' %>