<div class="container center">
	<h1>Manage Business</h1>
	<br/>
	<%= link_to "View Locations", business_vendor_manage_url %>
	<%= link_to "Manage Locations", business_vendor_manage_url %>



</div>