<% if not @location.active %>
	<div class="alert alert-danger">
		<strong>Warning! </strong> This location is currently incative and only visible to you. Your information will not be visible to the public until your account has been approved. This should happen within a few hours of your initial registration. If you feel that we're taking too long to approve your account please contact us at <a href="mailto:tech@landspecpro.com">tech@landspecpro.com</a>.
	</div>
<% end %>