<div class="span4 offset4 pricing-box" id="inventoryBox">
	<div class="widget-box">

		<div class="widget-header header-color-green2">
			<h5 class="bigger lighter">Inventory</h5>
		</div>

		<div class="widget-body">
			<div class="widget-main">

				

				<p>We've made it simple for you to host and share your full product inventory, in whatever format you want, with your existing and potential customers. We host it for you in the cloud so you know you'll always have a backup, and we give you the options to share it painlessly.</p>

				<p>I'll need to actually change most of this content so that it set up more to say that you can pay us to host and share your full inventory. View it, track previous versions, etc. I'll need to update the database and set it up so that the inventory is a separate table that links to the location. </p>

				<br/>

				<div class="center">

					<a href="#" id="inventoryMoreInfoButton">
						<div class="infobox infobox-custom infobox-small infobox-dark">
							<div class="infobox-icon">
								<i class="icon-info bigger-110"></i>
							</div>
							<div class="infobox-data">
								<div class="infobox-content">More Info</div>
								<div class="infobox-content">Click Here</div>
							</div>
						</div>
					</a>

				</div>

			</div>

		</div>

	</div>
</div>

<script>

	$('#inventoryMoreInfoButton').click(function(){
		$('#inventoryBox').fadeOut(500, function(){
			$('#inventoryBox').fadeIn(500);
		});
	});

	

</script>

<!-- 
<div class="span5 offset1">
	<h3>Upload Your Inventory</h3>
	<input type="file" class="span12" id="inventory"/>
	<p>Below it will need to be the link that a user can copy and paste to different places to share their inventory link. I'll need a bunch of logic to make sure that one is uploaded, make sure they're paying, etc.</p>
</div>




	<center>
						<strong>1 month free for a limited time!</strong>
					</center>

					<br/>
					<hr/>
					<div class="price">
						$20<small>/month</small>
					</div>



					THIS IS NEEDED
					<form action="https://ww.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="VTP3B4EKDL5U8">
					</form>
					-->



