<div class="span5 pricing-box">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<div class="widget-box">

			<div class="widget-header header-color-green2">
				<h5 class="bigger lighter">Inventory</h5>
			</div>

			<div class="widget-body">
				<div class="widget-main">

					<center>
						<strong>1 month free for a limited time!</strong>
					</center>

					<br/>

					<p>We've made it simple for you to now share your <oblique>entire</oblique> inventory easily with your customers and other users of LandSpec Pro. As a supplier you can now upload your full inventory in whatever format you currently use, and we'll keep a copy backed up in the cloud so you know it will always be available.</p>

					<p>For a limited time we're offering a free month of sharing when you subscribe for our inventory upload add-on. You'll have access to a direct link to share with anyone you want (put the link in emails, social networks, etc.). It will also be available on your LandSpec Pro profile, and your public facing profile.</p>

					<p>You can upload your inventory from the upload form on this page and subscribe below to allow others to view your inventory.</p>

					<p>I'll need to actually change most of this content so that it set up more to say that you can pay us to host and share your full inventory. View it, track previous versions, etc. I'll need to update the database and set it up so that the inventory is a separate table that links to the location. </p>

					<hr/>
					<div class="price">
						$20<small>/month</small>
					</div>

				</div>
			</div>

			<div class="widget-footer">

			
				<!-- If this location is already subscribed then need to show the unsubscribe button instead -->
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="VTP3B4EKDL5U8">
				<button type="submit" class="btn btn-block btn-success">
					<i class="icon-shopping-cart bigger-110"></i>
					<span>Purchase</span><br/>
				</button>
				

			</div>

		</div>
	</form>
</div>


<div class="span5 offset1">
	<h3>Upload Your Inventory</h3>
	<input type="file" class="span12" id="inventory"/>
	<p>Below it will need to be the link that a user can copy and paste to different places to share their inventory link. I'll need a bunch of logic to make sure that one is uploaded, make sure they're paying, etc.</p>
</div>