<% if CategoryToLocation.where(:location_id => @location.id).count == 0 %>
	<div class="alert alert-info">
	  	<button type="button" class="close" data-dismiss="alert">&times;</button>
	  	<strong>Categories </strong> <br/>
	  	You can now add categories to your location to let other users know what kind of products you carry. You can add as many as you want from the dropdowns below, but make sure you only add categories you currently supply at this location. If we're missing any categories you'd like to add, feel free to let us know in the feedback form at the bottom right of your screen.
	</div>
<% end %>

<%= form_for :category_to_locations, :url => {:action => :update_categories, :controller => :locations}, :html => {:id => 'form_location_categories'} do |f| %>

	<div class="widget-box">
		<div class="widget-header header-color-green2">
			<h5 class="bigger lighter"><i class="icon-tasks"></i> Product Categories</h5>
			<div class="widget-toolbar">
				<a href="javascript:{return true;}" onclick="document.getElementById('form_location_categories').submit();" class="white" id="white-link"><i  class="icon-save"></i> Update</a>
			</div>
		</div>

		<div class="widget-body">

			<div class="widget-main">

				<fieldset>

					<%= hidden_field_tag(:id, @location.id) %>

					
					<div class="center">
						<div class="row-fluid">

							<div class="span6">
								<h4>Plants:</h4>
								<div class="block input-icon input-icon-right">
									<%= select_tag :categories, options_from_collection_for_select(
										    Category.where(:active => true, :parent_id => 1).order('hierarchy_level ASC, cat_name ASC'), 'id', 'cat_name', :selected => @loccatids),
											:multiple => true, :class => 'chzn-select', :data => {:placeholder => "No Categories Selected"} %>
								</div>
							</div>

							<div class="span6">
								<h4>Materials:</h4>
								<div class="block input-icon input-icon-right">
									<%= select_tag :categories, options_from_collection_for_select(
										    Category.where(:active => true, :parent_id => 2).order('hierarchy_level ASC, cat_name ASC'), 'id', 'cat_name', :selected => @loccatids),
											:multiple => true, :class => 'chzn-select', :data => {:placeholder => "No Categories Selected"} %>
								</div>
							</div>

						</div>
					</div>

				</fieldset>

			</div>
		</div>

	</div>

<% end %>