<div class='alert alert-danger'>
	<strong>Warning!</strong> Once you set your URL we suggest you don't change it. If you need to, go ahead, but if you change your URL anywhere you've posted your link, and all the Facebook likes and shares will change too.
</div>

<a class='btn btn-danger btn-sm btn-block' href='javascript:{return true;}' onclick='submitProfileURLForm();'>
	<i class='icon-save' id='submit_public_url'></i> Confirm Update
</a>

<script>

	function submitProfileURLForm(){
		if (form_change == 'loc_profile_url')
			form_change = null;

		document.getElementById('form_set_public_url').submit();
	}
</script>