<%- title "Invite Confirm | LandSpec Pro" %>
<div class="row">
	<div class="col-xs-12">
		<div class="center">
			<br/>

			<h1 style="color:#2e893f">Success!</h1>

			<p style="font-size:16px;">
				You have successfully joined the waiting list for LandSpec Pro!<br/>
				You should receive an email confirmation shortly at:
			</p>

			<p style="font-size:16px;">
				<%= @invite.email %>
			</p>

			<br/>

			<%= link_to "Go Back", home_url, :style => "font-size:16px;" %>

		</div>
	</div>
</div>


<%= render 'layouts/footer' %>