<div class="container">

	<h1>Showing a person now</h1>

	<p>Username: <%= @user.login %> </p>
	<p>Email: <%= @user.email %> </p><br/>
	<p>Business Name: <%= @user.bus_vendor.busName %></p>
	<p>Business Logo: <br/><%= image_tag @user.bus_vendor.logo.url(:thumb) %></p>

</div>