<%- title "Validation Email Sent | LandSpec Pro" %>
<div class="container">
	<div class="row" style="font-size:16px;">
		<div class="col-xs-12">
			<div class="center">

				<br/><br/><br/>
				<div class="alert alert-danger">
					<h2><strong>Oops!</strong> Your email hasn't been verified yet.</h2>
				</div>

				<br/>

				<p>We already sent you a confirmation email, but don't worry, we can send you a new one. The last email we sent you is expired now, but all you need to do is hit the button below to have us send you another email confirmation so you can finish registering and start using LandSpec Pro.</p>

				<p>If you incorrectly entered your email when registering you can enter a new email in the field below and we'll send it to that email address instead.</p>

				<p>For more help or information email <a href="mailto:tech@landspecpro.com">tech@landspecpro.com</a></p>

				<hr>

				<%= form_for @user, :url => { :action => :send_validation_request } do |f| %>

					<!-- Display error messages as alerts -->
					<% @user.errors.each do |field, msg| %>
						<div class="alert alert-danger">
						  <strong>Error! </strong> <%= msg %>
						</div>
					<% end %>

					<center>
						<div class="form-group">
							<label>What email adress should we send the confirmation to?</label>
							<%= f.text_field :email, :class => 'form-control center', :style => 'width: 250px;', :value => @user.email %>
						</div>
					</center>
					<br/>

					<%= f.submit 'Send New Confirmation Email', :class => 'btn btn-small btn-success' %>

				<% end %>

	          </div>
		</div>
	</div>
</div>


			

		</center>

	</div>

</div>