<%- title "Validation Email Sent | LandSpec Pro" %>
<div class="row">

	<div class="col-xs-12">

		<div class="center">

			<br/><br/><br/>
			<h3>You should receive an email shortly with a link to confirm your email address and access LandSpec Pro.</h3>

			<p>If it takes more than a few minutes you can login with the email or username you used just now to request a new confirmation email to be sent.</p>

			<p>Also, if you think you entered the wrong email address when signing up you can login with your username to change the email address we send the confirmation email to.</p>

          	<a href="<%= home_url %>">Go Back</a>

		</div>

	</div>

</div>