<%= render 'layouts/sidebar' %>

	<h1> You haven't validated your email yet</h1>

	<p>On this page I still need to do the following:</p>

	<ul>
		<li>Allow user to re-send validation email.</li>
		<li>Put up a message explaining this better.</li>
		<li>Need to make the page where they actually validate their email using tokens or something, and then this page if there's an error, catch it and allow them to resend the link. But the success page will have to verify it, update the database, and then let them continue to their user_details page.</li>
		<li>Need to set the rules for require_user_email_validated so that it is on every page except the home page, login page, registration page, etc.</li>
	</ul>

<%= render 'layouts/sidebarend' %>