<%- title "Validation Email Sent | LandSpec Pro" %>
<div class="container">
	<div class="row" style="font-size:16px;">
		<div class="col-xs-12">
			<div class="center">

				<br/><br/><br/>
				<div class="alert alert-success">
					<h3><strong>Success!</strong> You will receive an email shortly with a link to confirm your email address and access LandSpec Pro.</h3>
				</div>

				<br/>

				<p>If it takes more than a few minutes you can login with the email or username you used just now to request a new confirmation email to be sent. If you think you entered the wrong email address when signing up you can login with your username to change the email address we send the confirmation email to. For more help or information email <a href="mailto:tech@landspecpro.com">tech@landspecpro.com</a></p>

				<br/>

	          	<a href="<%= home_url %>">Go Back</a>

	          </div>
		</div>
	</div>
</div>