<%- title "Email Confirmed | LandSpec Pro" %>
<div class="container">
	<div class="row" style="font-size:16px;">
		<div class="col-xs-12">
			<div class="center">

				<br/><br/><br/>
				<div class="alert alert-success">
					<h3><strong>Congratulations!</strong> Your email address has been confirmed.</h3>
				</div>

				<br/>

				<p>You are now a part of the LandSpec Pro community. All you have to do now is click the button below to enter the site and finish the registration process.</p>

				<br/>

	          	<a href="<%= user_details_new_url %>" class="btn btn-success">Continue</a>

	          </div>
		</div>
	</div>
</div>