<div class="center">

	<br/><br/>
	
	<h3>Congratulations!</h3>

	<p>Your email has been verified and you are now a part of the LandSpec Pro community. Click the button below to finish registering and start enjoying the site.</p>

	<br/>
	<a href="<%= user_details_new_url %>" class="btn btn-success">Continue</a>
	
</div>