

<div class="row-fluid">
	<div class="center">
		<h2><%= (Location.all.count + ClaimLocation.all.count).to_s %> suppliers and growing...</h2>

		<div id="map-canvas" style="width:500px;"/>
	</div>
</div>
