
<div class="row-fluid" style="margin-top:100px;">
	<div class="span6 offset3">
		<div class="center">
			<div class="alert alert-success">
				<strong>Success! </strong>Thanks for the feedback! We love hearing from you, feel free to let us know if you have any other feedback for us at any point in the future. We hope you're enjoying using LandSpec Pro!
			</div>
			<div class="center">
				<a href="<%= back_url %>">Go Back</a>
			</div>
		</div>
	</div>
</div>