<%- title "LandSpec Pro" %>

<link href="stylesheets/index.css" rel="stylesheet">

<!-- Carousel
================================================== -->
<div id="carousel" class="carousel slide">

  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">

    <div class="item active"> <!-- item one -->
      <img class="active" src="/images/slide_seven.png" alt="">

    </div>

    <div class="item"> <!-- item two -->
      <img src="/images/slide_five.png" alt="" />
      <!--<div class="carousel-caption">
        <p>My Nursery</p>
        <p><a href="http://www.google.com">Go To Google &raquo;</a></p>
      </div>-->
    </div>

    <div class="item"> <!-- item three -->
      <img src="/images/slide_six.png" alt="" />
    </div>

  </div>

  <a class="left carousel-control" href="#carousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#carousel" data-slide="next">&rsaquo;</a>

  <!-- TEXT OVERLAY -->
  <div id="content-over-carousel" class="container">
      <div class=""> <!-- center -->
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-right">
              <h1 class="font-marmelad-white" id="carousel-header">Supply network <br/>for the landscape industry</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-right">
                <h1 class="font-marmelad-white" id="carousel-newsletter-header">Sign up for the newsletter:<br/></h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-right">
              
                <form id="newsletterForm" method="post" action="subscribe" class="form-inline" role="form">
                  <div class="form-group">
                    <input id="emailnewsletter" name="emailnewsletter" type="text" placeholder="Enter your email" style="width:auto;" class="form-control"><button id="carousel-newsletter-button" class="btn btn-sm btn-success submit" type="submit">Subscribe &raquo;</button>
                  </div>
                </form>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">

          </div>
        </div>

      </div>
    </div><!-- content-over-carousel -->

</div><!-- /.carousel -->

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <div class="center">

    <!-- Three columns of text below the carousel -->
    <div class="row" style="margin-bottom: -10px;">
      <div class="col-md-4">
        <div class="">
          <h2 class="font-roboto-black">Landscape Suppliers</h2>
          <p class="font-roboto-black">Create your free LandSpec Pro profile today and drive awareness of your business in a truly engaging, attractive and powerful way.</p>
        </div>
      </div><!-- /.col-md-4 -->

      <div class="col-md-4">
        <div class="">
          <h2 class="font-roboto-black">Sign up for Free</h2>
          <p class="font-roboto-black">In the wholesale landscape ecosystem, it's all about relationships. Sign up today to grow new relationships and cultivate your existing ones.</p>
          <p><%= link_to "Register &raquo;".html_safe, register_url, :class => 'btn btn-success' %></p>
        </div>
      </div><!-- /.col-md-4 -->

      <div class="col-md-4">
        <div class="">
          <h2 class="font-roboto-black">Landscape Professionals</h2>
          <p class="font-roboto-black">Why limit yourself by not knowing what's out there right now? Sign up for LandSpec Pro today to find information about, and <i>real-time</i> updates from your favorite suppliers as well as new ones.</p>
        </div>
      </div><!-- /.col-md-4 -->

    </div><!-- /.row -->
    <br/><br/><br/><br/>
    <!--
    <div class="row">
      <div class="col-xs-12">
        <div class="center">
          <a href="http://flashpoint.gatech.edu" target="_blank"><img src="/images/flashpoint.png" style="max-width:150px;"></a>
        </div>
      </div>
    </div>
    -->

  </div>

</div><!-- /.container -->

<script src="http://jquery.bassistance.de/validate/jquery.validate.js"></script>
<script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>

<script type="text/javascript">
$(document).ready(function() {
$('#carousel').carousel();
});
    $('#newsletterForm').validate({
      rules: {
        emailnewsletter: {
          required: true,
          email: true
        }
      }
    });



</script>

<%= render 'layouts/footer' %>