<style>
/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 15px;
      box-shadow: 0 15px 30px #bfbfbf;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
      padding-top:150px;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 1920px;
      min-height: 500px;
      overflow: hidden;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .carousel{
        box-shadow: 0 15px 30px #bfbfbf;
        margin-bottom: 15px;
      }

      .carousel .container{
        box-shadow: none;
        padding-bottom: -30px;
      }

      .container.navbar-wrapper {
        margin-bottom: 0;
        
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        top: -50px;
        left: -150px;
        width: auto;
        box-shadow: 0 0 30px #000;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .carousel {
        margin-left: -10px;
        margin-right: -10px;
        box-shadow: 0 15px 30px #bfbfbf;
      }
      .carousel .container {
        width: 90%;
        padding-top:10px;

      }
      .carousel .item {
        height: 450px;

      }
      .carousel img {
        height: 350px;
        width: auto;
        box-shadow: 0 0 30px #000;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }

</style>

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/images/slide_two.png" alt="">
      <div class="container">
        <div class=""> <!-- center -->
          <div class="row-fluid">
            <div class="span8 offset4">
              <div class="pull-right">
                <h1 class="font-marmelad-white" style="font-size:40px; text-align:right;">Specialty product network for the landscape industry</h1>
              </div>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <div class="pull-right">
                <% if params[:subscribed] %>
                  <h1 class="font-marmelad-white" style="font-size:27px; text-align:right;">Thanks for subscribing!<br/></h1>
                <% else %>
                  <h1 class="font-marmelad-white" style="font-size:27px; text-align:right;">Sign up for the newsletter:<br/></h1>
                <% end %>
              </div>
            </div>
          </div>
        <% unless params[:subscribed] %>
          <div class="row-fluid">
            <div class="span12">
              <div class="pull-right">
                
                  <form id="newsletterForm" method="post" action="subscribe" class="form-inline">
                    <input id="emailnewsletter" name="emailnewsletter" type="text" placeholder="Enter your email" style="width:auto;"><button class="btn btn-small btn-success submit" type="submit">Subscribe &raquo;</button>
                  </form>
              </div>
            </div>
          </div>
        <% end %>

          <div class="row-fluid">
            <div class="span12">

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row" style="margin-bottom: -10px;">
    <div class="span4">
      <div class="">
        <h2 class="font-roboto-black">Landscape Suppliers</h2>
        <p class="font-roboto-black">It’s hard to stand out as a Landscape Supplier. Not anymore. Create your LandSpec Pro profile today and begin featuring your specialty products directly to the people who care about them most: landscape professionals.</p>
      </div>
    </div><!-- /.span4 -->

    <div class="span4">
      <div class="">
        <h2 class="font-roboto-black">Invitation Only</h2>
        <p class="font-roboto-black">We are in early access beta mode. If you would like to be a part of this process, let us know by requesting an invitation.</p>
        <p><%= link_to "Request Invite &raquo;".html_safe, invite_request_url, :class => 'btn btn-success' %></p>
      </div>
    </div><!-- /.span4 -->

    <div class="span4">
      <div class="">
        <h2 class="font-roboto-black">Landscape Professionals</h2>
        <p class="font-roboto-black">You don't just make a landscape design, you create it. So why limit your creativity by not knowing what's out there right now? Sign up for LandSpec Pro today and discover featured specialty products that will set your next design apart from others.</p>
      </div>
    </div><!-- /.span4 -->

  </div><!-- /.row -->
  <br/><br/>
  <div class="row">
    <div class="span12">
      <div class="center">
        <a href="http://flashpoint.gatech.edu" target="_blank"><img src="/images/flashpoint.png" style="max-width:150px;"></a>
      </div>
    </div>
  </div>

</div><!-- /.container -->

<!-- Parse JS -->
<script src="javascripts/parse-1.2.2.min.js"></script>
<script src="http://jquery.bassistance.de/validate/jquery.validate.js"></script>
<script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>


<script>
  
  $('#newsletterForm').validate({
    rules: {
      emailnewsletter: {
        required: true,
        email: true
      }
    }
  });

</script>

<%= render 'layouts/footer' %>