<style>


    #photoGrid{
      /* Prevent vertical gaps */
       line-height: 0;
       width: 100%;
       height: 500px;
   
       -webkit-column-count: 6;
       -webkit-column-gap:   0px;
       -moz-column-count:    6;
       -moz-column-gap:      0px;
       column-count:         6;
       column-gap:           0px;
    }

    #photoGrid img{
      /* Just in case there are inline attributes */
      width: 100% !important;
      height: auto !important;
    }



    @media (max-width: 1200px) {
      #photoGrid {
      -moz-column-count:    3;
      -webkit-column-count: 3;
      column-count:         3;
      }
    }
    @media (max-width: 1000px) {
      #photoGrid {
      -moz-column-count:    3;
      -webkit-column-count: 3;
      column-count:         3;
      }
    }
    @media (max-width: 800px) {
      #photoGrid {
      -moz-column-count:    3;
      -webkit-column-count: 3;
      column-count:         3;
      }
    }
    @media (max-width: 400px) {
      #photoGrid {
      -moz-column-count:    2;
      -webkit-column-count: 2;
      column-count:         2;
      }
    }

</style>

<!-- PHOTO GRID -->
<div id="photoGrid">

  <% ProductImage.where(:active => true).limit(6).each do |pi| %>

    <img src="<%= pi.image.url(:medium) %>" alt="Large" />

  <% end %>

</div>





<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row" style="margin-bottom: -10px;">
    <div class="span4">
      <div class="">
        <h2 class="font-roboto-black">Landscape Suppliers</h2>
        <p class="font-roboto-black">Create your LandSpec Pro profile today and begin featuring your specialty products directly to the people who care about them most: landscape professionals.</p>
      </div>
    </div><!-- /.span4 -->

    <div class="span4">
      <div class="">
        <h2 class="font-roboto-black">Invitation Only</h2>
        <p class="font-roboto-black">We are in early access beta mode. If you would like to be a part of this process, let us know by requesting an invitation.</p>
        <p><%= link_to "Request Invite &raquo;".html_safe, invite_request_url, :class => 'btn btn-success' %></p>
      </div>
    </div><!-- /.span4 -->

    <div class="span4">
      <div class="">
        <h2 class="font-roboto-black">Landscape Professionals</h2>
        <p class="font-roboto-black">You don't just make a landscape design, you create it. So why limit your creativity by not knowing what's out there right now? Sign up for LandSpec Pro today and discover featured specialty products that will set your next design apart from others.</p>
      </div>
    </div><!-- /.span4 -->

  </div><!-- /.row -->
  <br/><br/>
  <div class="row">
    <div class="span12">
      <div class="center">
        <a href="http://flashpoint.gatech.edu" target="_blank"><img src="/images/flashpoint.png" style="max-width:150px;"></a>
      </div>
    </div>
  </div>

</div><!-- /.container -->

<script src="http://jquery.bassistance.de/validate/jquery.validate.js"></script>
<script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>

<script>

    $('#newsletterForm').validate({
      rules: {
        emailnewsletter: {
          required: true,
          email: true
        }
      }
    });

</script>

<%= render 'layouts/footer' %>