<%- title "LandSpec Pro" %>

<link href="stylesheets/index.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css'>

<!-- Carousel
================================================== -->
<div id="carousel" class="carousel slide">

  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">

    <div class="item active"> <!-- item one -->
      <img class="active" src="/images/saul_nurseries_slide.jpg" alt="">
      <span class="carousel-caption">
        <p class="carousel-caption-header">
          <a href="http://www.landspecpro.com/<%= Location.find(6).public_url %>">
            <strong>Saul Nurseries Inc.</strong>
          </a>
        </p>
        <p class="carousel-caption-sub-header">
          <i>Acer palmatum</i> 'Ryusen' PP#18,501
        </p>
      </span>
    </div>

    <div class="item">
      <img src="/images/slide_seven.png" alt="" />
      <span class="carousel-caption">
        <p class="carousel-caption-header">
          <a href="#">
            <strong>Your Company Here</strong>
          </a>
        </p>
        <p class="carousel-caption-sub-header">
          Click <a href="#">here</a> to ask us how.
        </p>
      </span>
    </div>

    <div class="item"> <!-- item three -->
      <img src="/images/slide_five.png" alt="" />
      <span class="carousel-caption">
        <p class="carousel-caption-header">
          <a href="#">
            <strong>Your Featured Product Here</strong>
          </a>
        </p>
        <p class="carousel-caption-sub-header">
          Click <a href="#">here</a> to ask us how.
        </p>
      </span>
    </div>

  </div>

  <a class="left carousel-control" href="#carousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#carousel" data-slide="next">&rsaquo;</a>

  <!-- TEXT OVERLAY -->
  <div id="content-over-carousel">
    <div class="row">
      <div class="col-xs-12">
        <div>
          <h1 id="carousel-header">Supply network <br/>for the landscape industry</h1>
        </div>
      </div>
    </div>
  </div><!-- content-over-carousel -->

</div><!-- /.carousel -->

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <div class="center">

    <!-- Three columns of text below the carousel -->
    <div class="row" style="margin-bottom: -10px;">
      <div class="col-md-4">
        <div class="">
          <h2 class="font-roboto-black">Landscape Suppliers</h2>
          <p class="font-roboto-black">Create your free LandSpec Pro profile today and drive awareness of your business in a truly engaging, attractive and powerful way.</p>
        </div>
      </div><!-- /.col-md-4 -->

      <div class="col-md-4">
        <div class="">
          <h2 class="font-roboto-black">Sign up for Free</h2>
          <p class="font-roboto-black">In the wholesale landscape ecosystem, it's all about relationships. Sign up today to grow new relationships and cultivate your existing ones.</p>
          <p><%= link_to "Register &raquo;".html_safe, register_url, :class => 'btn btn-success' %></p>
        </div>
      </div><!-- /.col-md-4 -->

      <div class="col-md-4">
        <div class="">
          <h2 class="font-roboto-black">Landscape Professionals</h2>
          <p class="font-roboto-black">Why limit yourself by not knowing what's out there right now? Sign up for LandSpec Pro today to find information about, and <i>real-time</i> updates from your favorite suppliers as well as new ones.</p>
        </div>
      </div><!-- /.col-md-4 -->

    </div><!-- /.row -->
    <br/><br/><br/><br/>

  </div>

</div><!-- /.container -->

<script>
  $('.carousel').carousel({ interval: 3500, cycle: true });
</script>

<%= render 'layouts/footer' %>

