<%- title "Oops!" %>
<div class="container">
	<div class="well" style="margin-top:100px;">
		<div class="center">
			<div class="well">
				<h2><strong>Uh-oh!</strong></h2>
				<h3>Looks like the page you're looking for doesn't exist</h3>
			</div>
			<% unless @message.blank? %>
				<br/>
				<h5><strong>Error Message:</strong></h5>
				<h5><%= @message %></h5>
			<% end %>
			<br/>
			<h5>Try again, or contact <a href="mailto:tech@landspecpro.com">tech@landspecpro.com</a> for help.</h5>
			<a href="<%= @back_url %>">Go Back</a>
		</div>
	</div>
</div>