<%- title "What's New | LandSpec Pro" %>
<div class="contianer">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<h2>Here's what's new at LandSpec Pro:</h2>

			<br/><hr>

			<p><strong>Upload Your Inventory:</strong> Now you can upload your Inventory lists (availability, price list, catalog, whatever you like to call it) in any format (Excel, Word, PDF, jpeg, etc.) directly to your LandSpec Pro profile for easy access and download by customers anytime, anywhere. Your inventories can be added as often as you like, just the way you list it, and it’s as simple as attaching it to an email.</p>

			<p><strong>Share Your Public Profile:</strong> Now you can share a public version of your profile with anyone and control what content they see without requiring that person to signup to see any of your information. Simply copy and paste your link to your email signatures, website, text messages, social media sites, or wherever you like, to always give your customers the info they need when they need it. You can also customize your URL to anything you like by going to edit profile on the website. If you would like a hard coded LandSpec Pro logo for your website or email signatures, that will direct users to your public profile, let us know and we’ll get one to you.</p>

			<p><strong>Supplier News Feed:</strong> The new Supplier News Feed is the first thing users see when they login. That way they can always see what's new. The more active you are with your profile, the better it is for everyone on the site. Your 3 featured items and inventories will appear in the Supplier Newsfeed when updated. So if you have something to show off, go ahead and upload it for everyone to see and it will appear at the top of the Newsfeed instantly. To check it out now, just click this preview link: <a href='http://www.landspecpro.com/supplier/guest/login' target="_blank">http://www.landspecpro.com/supplier/guest/login</a>.</p>

			<p><strong>Follow:</strong> Now users can follow you on LandSpec Pro. Following allows users to filter the Supplier Newsfeed to only get updates from the suppliers they are interested in, like you. This is a great way to get your content out to your audience in real time. We will be doing more with this feature in the near future, so let us know what you think and what you would like to see.</p>

			<p><strong>Website Cover Photos:</strong> We are looking for a few new cover photos for our website homepage (<a href="http://www.landspecpro.com">www.landspecpro.com</a>) slideshow. If you have one you would like us to feature on our website, send it over. If we like it, we will put it up for up to 30 days and add a link that will take visitors directly to your public profile. Just make sure the minimum size is: 2240x500.</p>

			<p><strong>Marketing Emails:</strong> To get 2014 off to a good start, now through June, we will be sending monthly emails to our growing list of landscape architects, designers, and contractors. You have the opportunity to be a featured supplier and have your <strong>public profile link<strong> highlighted by being listed in this marketing email. To be included in this email, simply update your profile by posting new featured item(s) and updated inventory lists between the 10th and the 25th of each month. The first email will be sent out February 3rd and every month through June on the first Monday of each month. So be sure to add a new inventory lists and new featured items to be included in the next marketing email targeted directly to landscape buyers.</p>

			<p><strong>Don't have time for all this? Send us your Inventory lists and photos of your (up to 3) featured products and we'll take care of it for you.</strong></p>

			<p><strong>Coming Soon:</strong> We have an <strong>Android Mobile App</strong> scheduled to be released by January 27th, and will have one in the <strong>Apple Store</strong> by February 17th. We will keep you updated and let you know when it goes live.</p>

			<p>As always, thank you for being a LandSpec Pro Supplier and do not hesitate to let us know if you need assistance or if there is anything we can do for you.</p>
			
		</div>
	</diV>
</div>