<%- title "News Feed | LandSpec Pro" %>
<%= render 'layouts/sidebar' %>

<div class="container">



	<div id="timeline-1">
		<div class="row-fluid">
			<div class="offset1 span7">
				<div class="timeline-container">


					<div class="timeline-items">
					
						<!-- TODO: This is where there would be a loop for all the news feed items. Something would need to be done with not loading them all at once also. Some way to paginate, but without paginating. Maybe AJAX to pull in 25 at a time or something. I'll figure it out -->
						<div class="timeline-item clearfix">
							<div class="timeline-info">
								<i class="timeline-indicator icon-food no-hover"></i>
							</div>


							<div class="widget-box transparent">
								<div class="widget-header widget-header-small">
									<h5><a href="#" class="blue">Paz Growers updated their profile information!</a></h5>

									<span class="widget-toolbar no-border">
										<i class="icon-time bigger-110"></i>
										10:36pm
									</span>
								</div>

							</div>





						</div>







					</div> <!-- timeline-items -->



				</div> <!-- timeline-container -->
			</div> <!-- span size -->
		</div> <!-- row-fluid -->
	</div> <!-- timeline-1 -->





</div>


























<%= render 'layouts/sidebarend' %>