<div style="font-size:14px;">
	<p>Someone has requested more info about the cover photo from the form on the landing page.</p>

	<br/>

	<strong>Name:</strong>&nbsp;<%= @name %><br/>
	<strong>Email:</strong>&nbsp;<%= @email %><br/>
	<% if @phone.blank? %>
		<strong>Phone Number:</strong>&nbsp;N/A<br/><br/>
	<% else %>
		<strong>Phone Number:</strong>&nbsp;<%= @phone %><br/><br/>
	<% end %>
	<strong>What time:</strong>&nbsp;<%= @when %><br/>
</div>