<%= render 'layouts/sidebar' %>

	<div class="span4 offset1">
		<div class="widget-box">
			<div class="widget-header header-color-blue">
				<h5 class="bigger lighter"><i class="icon-user"></i> Company Logo</h5>
				<div class="widget-toolbar">
					<button type="submit" class="btn btn-mini btn-primary" onclick="submit_logo()"><i class="icon-save"></i></button>
				</div>
			</div>

			<div class="widget-body">
				<div class="widget-main no-padding">
					<table id="table-company-logo" class="table table-bordered">
						<tbody>
							<tr>
								<th class="center">
									<ul class="ace-thumbnails">
										<li><div>
											<%= image_tag @user.get_logo.url(:smthumb), :alt => '50x50' %>
											</div>

										</li>
									</ul>
								</th>
								<th style="vertical-align:middle;">
									<input type="file" id="new_logo" />
								</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="span6">
		<div class="widget-box">
			<div class="widget-header header-color-green">
				<h5 class="bigger lighter"><i class="icon-cog"></i> Account Info</h5>
				<div class="widget-toolbar">
					<a title="Edit" class="badge-success" style="border:0;color:white;" href="#"><i class="icon-edit"></i></a>
				</div>
			</div>

			<div class="widget-body">
				<div class="widget-main no-padding">
					<table id="table-account-info" class="table table-bordered table-striped">
						<tbody>

							<tr>
								<th class="center">Company</th>
								<td class="center"><%= @user.get_bus_name %></td>
								<td class="center">
									<button class="btn btn-mini btn-danger">Edit</button>
								</td>
							</tr>

							<tr>
								<th class="center">Username</th>
								<td class="center"><%= @user.login %></td>
								<td class="center">
									<button class="btn btn-mini btn-danger"><i class="icon-edit"></i></button>
								</td>
							</tr>

							<tr>
								<th class="center">Email</th>
								<td class="center"><%= @user.email %></td>
								<td class="center">
									<button class="btn btn-mini btn-danger"><i class="icon-edit"></i></button>
								</td>
							</tr>

							<tr>
								<th class="center">User Type</th>
								<td class="center"><%= @usertype %></td>
								<td class="center">
									<button class="btn btn-mini btn-danger"><i class="icon-edit"></i></button>
								</td>
							</tr>

						</tbody>
					</table>
				</div> <!-- end widget-main -->
			</div> <!-- end widget-body -->

		</div> <!-- end widget-box -->
	</div> <!-- end span6 -->
<%= render 'layouts/sidebarend' %>



<!-- THIS NEEDS TO BE DONE DIFFERENTLY -->
<script type="text/javascript">

	function submit_logo() {

		var logo = $("#new_logo").val();
    	if(logo == '')
    		alert('no logo selected. also handle for file type later.');
    	else
    		alert('file selected');
	}

</script>