<div class="container">
	<h1>Account Info</h1>

	<div class="center">
		<h3>Username: <%= @user.login %></h3>
		<h3>Email: <%= @user.email %></h3>
		<h3>User Type: <%= @user.userType %></h3>
		<h3>Company Name: <%= @user.get_bus_name %></h3>



	</div>



</div>