/*
 Customize the Carousel
*/
.carousel{
  margin-bottom: 15px;
  margin-top: 0;
  box-shadow: 0 15px 30px #bfbfbf;
}

.carousel-caption{
  background-color: rgba(0,0,0,0.7);
  float:left;
  left:0;
  z-index: 10;
  padding-top:15px;
  padding-bottom:15px;
  margin-bottom:25px;
  width:350px;
}

.carousel-caption-header{
  font-size: 17px;
  margin-bottom:0;
  text-align:left;
  margin-left:25px;
}
.carousel-caption-sub-header{
  text-align:left;
  margin-left:25px;
}

.carousel .item {
  height: 700px;
}

.carousel-inner > .item > img {
  position: relative;
  background-position: left top;
  min-width: 1920px;
  overflow: hidden;
}

.carousel-control {
  padding-top: 325px;
  font-size: 100px;
  width: 5%;
}

#content-over-carousel{
  position: absolute;
  top:10px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  overflow:hidden;
}

#carousel-header{
  font-size:90px;
  text-shadow: 
    3px 3px 4px #000,
    3px 3px 4px #000; 
  color: white;
  font-family: 'Gudea', sans-serif;
  float:right; 
  margin-right:100px; 
  margin-left:50px;
  text-align:right;
  padding:5px;
}

.carousel-inner > .item{
    overflow:hidden;
  }

@media (max-width: 768px) {

  #carousel-header{
    font-size:75px; 
    margin-right:45px;
    margin-left:30px;
  }

  .carousel-control{
    visibility:hidden;
  }

  .carousel-inner > .item > img {
    position:absolute;
    margin-left:-250px;
  }
}

@media (max-width: 501px) {

  .carousel{
    overflow:hidden;
  }
  .carousel-caption{
    width:100%;
  }
  #carousel-header{
    font-size:60px;
    overflow:hidden;
    text-align: center;
    margin-right:30px;
    margin-left:30px;
  }

  .carousel-inner > .item > img {
    margin-left:-375px;
  }

}