body {
  padding-top: 70px;
  padding-bottom: 40px;
}

/*
 Customize the Carousel
*/
.carousel{
  margin-bottom: 15px;
  margin-top: 0;
  box-shadow: 0 15px 30px #bfbfbf;
}

.carousel-caption{
  z-index: 10;
}

.carousel .item {
  height: 500px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 1920px;
  min-height: 500px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-control {
  padding-top: 200px;
  font-size: 100px;
  width: 5%;
}

#content-over-carousel{
  position: absolute;
  top:100px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
}

#carousel-header{
  font-size:75px; 
  text-align:center; 
  text-shadow: 4px 4px 4px #000;
}

@media (max-width: 768px) {
  #content-over-carousel{
    position: absolute;
    top:100px;
    margin-left:auto;
    margin-right:auto;
    width:100%;
  }

  #carousel-header{
    font-size:60px; 
    text-align:center; 
    text-shadow: 3px 3px 3px #000;
  }

  .carousel-control{
    visibility:hidden;
  }
}

@media (max-width: 501px) {
  #carousel-header{
    font-size:50px;
  }
  #content-over-carousel{
    position: absolute;
    top:100px;
    margin-left:auto;
    margin-right:auto;
  }

}