body {
  padding-bottom: 40px;
}

/*
 Customize the Carousel
*/
.carousel{
  margin-bottom: 15px;
  margin-top: 0;
  box-shadow: 0 15px 30px #bfbfbf;
}

.carousel-caption{
  z-index: 10;
}

.carousel .item {
  height: 500px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 1920px;
  min-height: 500px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-control {
  padding-top: 200px;
  font-size: 100px;
  width: 5%;
}

#content-over-carousel{
  position:absolute; 
  top:100px; 
  right:170px;
}

#carousel-header{
  font-size:50px; 
  text-align:right; 
  text-shadow: 3px 3px 3px #000;
}

#carousel-newsletter-header{
  font-size:27px; 
  text-align:right; 
  text-shadow: 3px 3px 3px #000;
}

@media (max-width: 768px) {
  #content-over-carousel{
    position:absolute;
    width:100%;
    top:75px;
    left:0;
  }

  #carousel-header{
    font-size:35px; 
    text-align:right; 
    text-shadow: 3px 3px 3px #000;
  }

  #carousel-newsletter-header{
    font-size:22px;
    text-align:right; 
    text-shadow: 3px 3px 3px #000;
  }

  #carousel-newsletter-button{
    width: 100%;
  }

  .carousel-control{
    visibility:hidden;
  }
}

@media (max-width: 501px) {
  #content-over-carousel{
    position:absolute;
    top:25px;
    right:50px;
  }

  #newsletterForm{
    width:100%;
  }

  #carousel-newsletter-button{
    width:100%;
  }
  #emailnewsletter{
    width:100%;
  }


}