
html { height: 100% }
body { height: 100%;  margin-bottom: -50px; overflow-y:auto; overflow-x:auto; background-color: white;}
#result-map { height: 100%;}

.row-fluid {
	padding: 0 15px;
}

$brand-color: #2e893f;
$brand-color-darken-five-percent: darken($brand-color, 5%);
$brand-color-darken-ten-percent: darken($brand-color, 10%);
$brand-color-lighten-five-percent: lighten($brand-color, 5%);
$brand-color-lighten-ten-percent: lighten($brand-color, 10%);

// Navbar color

#navbar-main{
	background: $brand-color;
	padding-top:10px;
	padding-bottom:5px;
	border: none;
}

#brand-image{
	max-height: 30px;
	padding: 0;
	padding-right: 5px;
	margin-left: -15px;
}
.navbar-brand{
	max-height: 50px;
	margin-top: -5px;
}

#brand-title{
	color: #fff;
	font-size: 22px;
	max-height: 22px;
}

// RIGHT SIDE OF NAVBAR IF LOGGED IN
#logged-in-dropdown{
	background-color: $brand-color;
}

// RIGHT SIDE OF NAVBAR
#navbar-right-container{
	margin-top:-12px; 
	margin-right:20px;
	margin-bottom:-8px;
}

// LOGIN BUTTON IN NAVBAR
#navbar-btn-login{
	padding-left:10px;
	padding-right:10px;
	padding-top:32px;
	height:100%;
	min-height:65px;
}

// REGISTER BUTTON IN NAVBAR
#navbar-btn-register{
	padding-left:10px;
	padding-right:10px;
	padding-top:32px;
	min-height:65px;
}

#navbar-btn-register:hover,
#navbar-btn-login:hover{
	background-color: $brand-color-darken-five-percent;
}

.infobox-custom{
	background: $brand-color;
}

.infobox-custom:hover{
	background-color: $brand-color-darken-five-percent;
}

.infobox-custom:active{
	background-color: $brand-color-lighten-five-percent;
}

.green{
	background-color: #22b14c;
}
.header-color-green{
	//background: #22b14c;
}


#container {
   min-height:100%;
   position:relative;
}
#footer {
   bottom:0;
   width:100%;
   height:auto;   /* Height of the footer */
}


/* FEEDBACK BUTTON IN FOOTER */
#feedbackFooter{
	visibility: visible;
}

@media (max-width: 767px) {
	#feedbackFooter{
		visibility:hidden;
	}
}


/* GREENS */
.btn-success{
	background-color:#2e893f!important;
	border-color:#2e893f;
}

.header-color-green2{
	background-color:#2e893f!important;
	border-color:#2e893f;
}

.green{
	color:#2e893f!important;
}

.ace-nav>li.green{
	background:#2e893f;
}

.badge-success,
.label-success{
	background-color:#2e893f!important;
	border-color:#2e893f!important;
}


fieldset{
	color:#000;
}

textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"]{
	color: #202020;
}

.modal {
	overflow-y: auto;
	overflow-x: auto;
}