<div class="profile-contact-info">
	<div class="profile-contact-links center">

		<% if @location.inventories.count > 0 %>
			<a class="btn btn-link tooltip-info" href="<%= location_inventory_view_url(:id => @location.id, :inv_id => @location.inventories.first.id) %>" target="_blank" title="" data-original-title="View Inventory" data-placement="bottom">
				<i class="icon-folder-close blue"></i>
				View Inventory
			</a>

			<br/>
		<% end %>

		<% unless @location.websiteLink.blank? %>
			<a class="btn btn-link tooltip-info" href="<%= @location.websiteLink %>" target="_blank" title="" data-original-title="<%= @location.websiteLink %>" data-placement="bottom">
				<i class="icon-globe blue"></i>
				View Website
			</a>
		<% end %>
	</div>

</div>