<span class="profile-picture">
	<% if @location.is_owner(current_user) %>
		<ul class="ace-thumbnails">
			<li>
				<span>
					<%= image_tag @location.bus_vendor.logo.url(:medium), :max_width => '300px', :max_height => '300px', :title => 'Logo', :class => 'editable', :id => 'avatar' , :style => 'max-height:100%; max-width:100%; display:block; margin:auto;'%>
					<div class="text">
						<div class="inner">
							<span><p style="font-size:15px;">Edit Company Logo</p></span>
							<a href="<%= account_company_url %>" data-rel="tooltip" class="tooltip-success" title="" data-placement="bottom" data-original-title="Edit Company Logo">
								<i class="icon-pencil"></i>
							</a>
						</div>
					</div>
				</span>
			</li>
		</ul>
	<% else %>
		<%= image_tag @location.bus_vendor.logo.url(:medium), :max_width => '300px', :max_height => '300px', :title => 'Logo', :class => 'editable', :id => 'avatar' %>
	<% end %>
</span>