<% unless @location.bus_vendor.tagline.blank? %>

	<div class="space-16"></div>

	<div class="widget-box transparent">
		<div class="widget-header" style="text-align:center; font-style:oblique; padding-bottom:10px;">
			"<%= @location.bus_vendor.tagline %>"
		</div>
	</div>

<% end %>