<% unless @location.tagline.blank? %>

	<div class="space-6"></div>

	<div class="widget-box transparent">
		<div class="widget-header" style="text-align:center; font-style:oblique; padding-bottom:5px;">
			"<%= @location.tagline %>"
		</div>
	</div>

<% end %>