<%- title "Forgot | LandSpec Pro" %>
<div class="row">

	<div class="col-xs-12">

		<div class="center">

			<br/><br/><br/>
			<h3>Your request has been submitted, we'll contact you shortly with details.</h3>

          	<a href="<%= home_url %>">Go Back</a>

		</div>

	</div>

</div>