<%- title "Forgot | LandSpec Pro" %>
<%- description "Use this form to retrieve your forgotten username or password." %>
<div class="row">

	<div class="col-xs-12">

		<div class="center">

			<% if params[:invalidemail] %>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="alert alert-danger">
						  	<button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
						  	<strong>Error!</strong> The email you entered does not belong to any current user. Please try again.
						</div>
					</div>
				</div>
			<% else %>
				<br/><br/><br/>
			<% end %>

			<h3>Enter your email below and we'll send you instructions to access your account.</h3>

			<form method="post" action="submit_forgot" class="form-inline">
            	<input class="form-control" id="email" name="email" type="text" placeholder="Enter your email" style="width:auto;"><button class="btn btn-sm btn-success submit" type="submit">Submit &raquo;</button>
          	</form>

          	<br/>
          	
          	<a href="<%= home_url %>">Go Back</a>

		</div>

	</div>

</div>