

<div class="container">
	<div class="row" style="font-size:18px;">

		<center>

			<br/><br/><br/>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
				<h1>Welcome to LandSpec Pro!</h1>

				<br/>

				<p>You've been invited to try out LandSpec Pro for free, without even having to sign up. You will be using LandSpec Pro as a guest supplier. This is for demonstration purposes only, and while you'll have access to most basic features of the site, to view the full site and add your own information you'll need to register. After you've logged in with the link below, if you'd like to register you can use the dropdown menu to logout and return to the home page where you will find the option to register.</p>

				<br/>

				<p>If you run into any problems, or just have some feedback for us feel free to send an email to <a href="mailto:tech@landspecpro.com">tech@landspecpro.com</a>. Enjoy!</p>

				<br/>

				<a href="<%= login_guest_supplier_url %>" class="btn btn-success">Click here to try LandSpec Pro!</a>

			</div>

		</center>

	</div>
</div>