<%- title "Guest Link Error | LandSpec Pro" %>
<div class="container">
	<div class="row" style="font-size:18px;">

		<center>

			<br/><br/><br/>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
				<h1>Oops!</h1>

				<br/>

				<p>It looks like you're already logged in, so you can't log in as a guest too. You can either use the dropdown menu at the top of this page to return to the main site, or if you feel you are logged in incorrectly you can use that menu to logout, and then return to this page after you've logged out. If you think you've reached this page in error send us an email at <a href="mailto:tech@landspecpro.com">tech@landspecpro.com</a>.</p>

				<br/>

				<p>Sorry about the confusion!</p>

			</div>

		</center>

	</div>
</div>