<div class="widget-box">
	<% if @location.active %>
		<div class="widget-header header-color-green2">
			<h5 class="bigger lighter"><i class="icon-off"></i> Deactivate Location</h5>
		</div>
	<% else %>
		<div class="widget-header header-color-red2">
			<h5 class="bigger lighter"><i class="icon-off"></i> Activate Location</h5>
		</div>
	<% end %>


	<div class="widget-body">

		<div class="widget-main">

			<div class="row-fluid">

				<div class="span2">

					<div class="pull-left">
						<% if @location.active %>
							<button class="btn btn-danger">Deactivate</button>
						<% else %>
							<button class="btn btn-danger">Activate</button>
						<% end %>
					</div>

				</div>
				<div class="span10">
					<% if @location.active %>
						<p class="pull-left">Location is currently active. By deactivating this location your featured items and location information will only be visible to you.</p>
					<% else %>
						<p class="pull-left">Location is currently inactive. Until activated none of your information or featured items will be visible to anyone but yourself.</p>
					<% end %>

				</div>

			</div>

		</div>
	</div>

</div>