<div class="widget-box">
	<% if @location.active %>
		<div class="widget-header header-color-green2">
			<h5 class="bigger lighter"><i class="icon-off"></i> Deactivate Location</h5>
		</div>
	<% else %>
		<div class="widget-header header-color-red2">
			<h5 class="bigger lighter"><i class="icon-off"></i> Activate Location</h5>
		</div>
	<% end %>


	<div class="widget-body">

		<div class="widget-main">

			<div class="row-fluid">

				<div class="span12">

					<div class="pull-left">
						<button class="btn btn-info">Activate</button>
					</div>

					<h4 class="pull-left"> &nbsp;&nbsp;Location is currently inactive.</h4>

					

				</div>

			</div>

		</div>
	</div>

</div>