<%= form_tag locations_search_path, :method => 'get', :class => "form-inline" do %>

	<div class="row-fluid">
		<div class="span6">

				<span class="input-icon input-icon-right">
					<!--[if lt IE 10]>Search by Supplier Name:<![endif]-->
					<%= text_field_tag :search, params[:search], :placeholder => 'Search by name...' %><%= submit_tag "Search", :class => "btn btn-success btn-small" %>
					<p style="font-size:12px;">Leave blank to search all suppliers.</p>
					<!--<i id="nav-search-icon" class="icon-search"></i>-->
				</span>

		</div>

		<div class="span6">
			<div class="pull-right">
				

				<div class="accordion" id="searchFiltersHeader">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#searchFilters" data-parent="#searchFiltersHeader" data-toggle="collapse" class="accordion-toggle collapsed">
								Search Filters...
							</a>
						</div>

						<div class="accordion-body collapse" id="searchFilters" zindex="-1">
							<div class="accordion-inner">
								Distance From:
								<%= number_field_tag :distance_from, params[:distance_from], in: 0...10000, :style => 'z-index: 99999999;' %>
								
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
		
<% end %>