<div class="container">
	<div class="center">
		<h2>Are you sure you want to delete <%= @location.locName %>?</h2>
		<%= link_to "Yes", 'confirm/' + @location.id.to_s, :class => 'btn btn-primary' %>
		<%= link_to "No", locations_manage_url, :class => 'btn btn-primary' %>
	</div>
</div>