<%= render 'layouts/sidebar' %>

<%= render 'search' %>

<div class="span8">

	<% unless @locations.nil? %>
		<% @locations.each do |l| %>
			<h1><%= l.locName %></h1>
		<% end %>
	<% end %>
	
</div>
<%= render 'layouts/sidebarend' %>