<form id="feedbackForm" method="post" action="/feedback/submit">

	<div id="feedbackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	
		<div class="modal-header header-color-green2">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 style="color:#fff;">Feedback</h3>
		</div>

		<div class="modal-body">
			<p>Your feedback is very important to us. We're still in the early stages of the site and any and all suggestions help. We'd love to hear from you whether it be requested features, problems with the site, things you don't like, or even if you just want to tell us you love the site right now. We appreciate hearing from you.</p>

			<div class="row-fluid">

				<strong>*Name:</strong> 
				<div class="block input-icon input-icon-right">
					<%= text_field_tag :name, '', :id => "name", :class => 'span12' %>
				</div>

				<strong>*Email:</strong>
				<div class="block input-icon input-icon-right">
					<%= text_field_tag :email, '', :class => 'span12' %>
				</div>

				<strong>*Feedback:</strong>
				<span class="block input-icon input-icon-right">
					<%= text_area_tag :feedback, '', :class => 'span12', :style => 'resize: none;', :rows => '6' %>
				</span>

			</div>

		</div>

		<div class="modal-footer header-color-green2" style="boder-radius:none; margin-bottom:-5px;">
			<button class="btn btn-success" data-dismiss="modal">Close</button>
			<button class="btn btn-info" type="submit">Submit</button>
		</div>

	</div>

</form>