<!-- FOOTER -->
<!--[if lt IE 10]> <div style="font-size:14px;"><![endif]-->
<br/>
  <div class="navbar navbar-static-bottom" style="margin-left:10px; margin-right:10px; margin-bottom:0; padding-bottom:0; background-color:transparent; z-index:10;">
  	<p class="pull-right"><a href="#feedbackModal" data-toggle="modal">Feedback</a> &middot; <a href="<%= terms_url %>">Terms</a> &middot; <a title="Facebook" href="http://www.facebook.com/landspecpro" target="_blank">Facebook</a> &middot; <a title="Google+" href="https://plus.google.com/109092439077275976958/posts" target="_blank">Google+</a> &middot; <a title="Twitter" href="http://www.twitter.com/landspecpro" target="_blank">Twitter</a> &middot;  &copy; 2014 LandSpec Pro, LLC. &nbsp;&nbsp;&nbsp;</p>
  </div>
  <br/><br/>
  <%= render 'layouts/feedbackmodal' %>
<!--[if lt IE 10]> </div><![endif]-->