<!-- FOOTER -->
  <footer>
  	<p class="pull-right"></p>
    <p>&copy; 2013 LandSpec Pro, LLC. &middot; <a href="#">Contact Us</a> &middot; <a href="#">About</a> &middot; <a href="http://flashpoint.gatech.edu">Flashpoint</a>&middot; <a href="#">Facebook</a> &middot; <a href="#">Google+</a> &middot; <a href="#">Twitter</a> &middot; <a href="#">Terms</a></p>
  </footer>