<!-- FOOTER -->
<!--[if lt IE 10]> <div style="font-size:14px;"><![endif]-->
<br/>
  <div class="navbar navbar-static-bottom">
  	<p class="pull-right"><a href="<%= contact_url %>">Contact Us</a> &middot; <a href="http://flashpoint.gatech.edu" target="_blank">Flashpoint</a>&middot; <a title="Facebook" href="http://www.facebook.com/landspecpro" target="_blank">Facebook</a> &middot; <a title="Google+" href="https://plus.google.com/109092439077275976958/posts" target="_blank">Google+</a> &middot; <a title="Twitter" href="http://www.twitter.com/landspecpro" target="_blank">Twitter</a> &middot;  &copy; 2013 LandSpec Pro, LLC. &nbsp;&nbsp;&nbsp;</p>
  </div>
  <br/><br/>
<!--[if lt IE 10]> </div><![endif]-->

  <!-- <a href="#">Terms</a> &middot; -->