<% if controller.controller_name == 'locations' and controller.action_name == 'manage' %>

	<div class="pull-right">

		<%= button_to "Add New Location", locations_new_url, :class => 'btn btn-info btn-small' %>

	</div>

<% end %>

<% if controller.action_name == 'search' %>

	<div class="pull-right">

		<%= button_to "Browse All Products", products_browse_all_url, :class => 'btn btn-info btn-small' %>

	</div>

<% end %>

<% if controller.controller_name == 'products' and controller.action_name == 'browseall' %>

	<div class="pull-right">

		<%= button_to "Search Products", products_search_url, :class => 'btn btn-info btn-small' %>

	</div>

<% end %>