						</div><!--/row-->
					</div><!-- clearfix -->

	
					<%= render 'layouts/footer' %>


				</div><!--/#page-content-->

		</div><!-- #main-content -->


	</div><!--/.fluid-container#main-container-->

<script type="text/javascript">

	<% unless cookies.signed[:read_update_help_message] %>
		<% if current_user.is_buyer %>
			$(showGritter('update_help_buyer'));
			<% cookies.permanent.signed[:read_update_help_message] = true %>
		<% elsif current_user.is_vendor %>
			$(showGritter('update_help_supplier'));
			<% cookies.permanent.signed[:read_update_help_message] = true %>
		<% end %>
	<% end %>

</script>