						</div><!--/row-->
					</div><!-- clearfix -->

	
					<%= render 'layouts/footer' %>


				</div><!--/#page-content-->

		</div><!-- #main-content -->


	</div><!--/.fluid-container#main-container-->

<script type="text/javascript">


	<% if not cookies.signed[:update_helppage] %>
		$(showGritter('update_helppage'));
		<% cookies.permanent.signed[:update_helppage] = true %>
	<% elsif not cookies.signed[:update_publicprofiles] and current_user.is_vendor %>
		$(showGritter('update_publicprofiles'));
		<% cookies.permanent.signed[:update_publicprofiles] = true %>
	<% end %>

</script>