						</div><!--/row-->
					</div><!-- clearfix -->

	
					<%= render 'layouts/footer' %>


				</div><!--/#page-content-->

		</div><!-- #main-content -->


	</div><!--/.fluid-container#main-container-->

<script type="text/javascript">

	<% unless cookies.signed[:update_helppage] %>
		$(showGritter('update_helppage'));
		<% cookies.permanent.signed[:update_helppage] = true %>
	<% end %>

</script>